.form-signin, 
.form-register  {
	max-width: 600px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.field-validation-error {
	color: #b94a48;
	display: inline-block;
	*display: inline;
	padding-left: 5px;
	vertical-align: middle;
	*zoom: 1;
}

.field-validation-valid {
	display: none;
}

.input-validation-error 
{
	color: #b94a48;
	border-color: #b94a48;
}

.input-validation-error:focus {
	border-color: #953b39;
	-webkit-box-shadow: 0 0 6px #d59392;
	   -moz-box-shadow: 0 0 6px #d59392;
	        box-shadow: 0 0 6px #d59392;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}

.btn-register {
	display: block;
	margin-top: 10px;
}

/* Layout
-------------------------------------------------------------*/
.layout {
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

.layout,
.layout .layout-body,
.layout.fluid .layout-sidebar {
    height: 300px;
}

.layout {
    margin-bottom: 20px;
    padding: 9px;
}

.layout div {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.layout .layout-body {
    background-color: #dceaf4;
    margin: 0 auto;
    width: 70%;
}

.layout.fluid .layout-sidebar,
.layout.fluid .layout-header,
.layout.fluid .layout-body {
    float: left;
}

.layout.fluid .layout-sidebar 
{
    border: 1px solid #cedee7;
    background-color: #fff;
    width: 23.2%;
    margin-left: 1.0%;
}

.layout.fluid .layout-body {
  width: 75.5%;
}

header
{
    padding-bottom: 10px;
}

header .left {
    float: left;
    width: 75.5%;
}

header .right {
    width: 23.2%;
    float: left;
}

#charList li
{
    margin: 2px;
}

.world-list {
    width: 200px !important;
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: 6px;
}

.no-margin {
    margin: 0px !important;
}