@{
    ViewBag.Title = "Home";
}

<div class="layout fluid" ng-controller="AppCtrl">
    <div class="layout-body">@ViewBag.Message</div>
    <div class="layout-sidebar" ng-controller="WorldCtrl">
        <div class="controls" ng-show="isAuthorized()">
            <select class="world-list" ng-model="selectedWorld" ng-options="world.worldId as world.worldName for world in allWorlds" ng-change="worldSelected()">
                <option value="">Select A World...</option>
            </select>
            <hr class="no-margin" />
            <ul class="unstyled" id="charList">
                <li ng-model="selectedCharacter" ng-repeat="char in characters | filter: {worldId: selectedWorld}">
                    <a href="#" class="btn btn-block" ng-click="selectChar(char)">{{char.charName}} - Level {{char.charLevel }} {{char.charRace}} {{char.charClass}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        
    </script>
}