@{
    ViewBag.Title = "Home";
}

<div class="layout fluid">
    <div class="layout-body">@ViewBag.Message</div>
    <div class="layout-sidebar" ng-controller="WorldCtrl">
        <div class="controls">
            <select class="world-list" ng-model="selectedWorld" ng-options="world.WorldId as world.WorldName for world in allWorlds" ng-change="worldSelected()">
                <option value="">Select A World...</option>
            </select>
            <hr />
            <ul ng-repeat="char in characters">
                <li>{{char.CharacterName}} - {{char.CharacterRace}} {{char.CharacterClass}}</li>
            </ul>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        
    </script>
}